@tailwind base;
@tailwind components;
@tailwind utilities;
@layer  {
   
  .navbar {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    animation: fadeInDown 1s ease-out;
    transition: all 0.3s ease ;
    background: #fff;
    margin-top: 0 !important;
  }

  
  .navbar1{
    position: relative;
    background-color: transparent;
  }
}

.loader {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.font-heading {
  font-family: Poppins,sans-serif!important;
}

.lineheight{
  line-height: 68px !important;
}


@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

@keyframes fadeInDown {
  0%{
    transform: translateY(-220px);
  }

  100%{
    transform: translateY(0);
  }
}